@keyframes transitioninDarkBody {
	from {
		color: black;
		background-color: white;
	}
	to {
		color: white;
		background-color: black;
	}
}

body {
	animation-name: transitioninDarkBody;
	animation-duration: 0.5s;
	color: white;
	background-color: black;
}

.contentdivs {
	background-color: rgb(5, 154, 0);
	padding: 15px;
	padding-top: 5px;
	border-radius: 10px;
}