@keyframes transitionin {
	from {
		color: white;
		background-color: black;
	}
	to {
		color: black;
		background-color: white;
	}
}

@keyframes transitionin2 {
	from {
		color: white;
		background-color: black;
	}
	to {
		color: black;
		background-color: white;
	}
}

body {
	background-color: white;
	color: black;
	animation-name: transitionin;
	animation-duration: 1s;
}
