@keyframes transitioninDarkBody {
	from {
		color: black;
		background-color: white;
	}
	to {
		color: white;
		background-color: black;
	}
}

@keyframes coloring {
	from {
		background-color: rgb(0, 255, 0);
	}
	to {
		background-color: rgb(0, 120, 0);
	}
}

@keyframes sociallogoanimation {
	from {
		filter: invert(0);
	}
	to {
		filter: invert(1);
	}

}

a {
	color: white;
}

body {
	animation-name: transitioninDarkBody;
	animation-duration: 1s;
	color: white;
	background-color: black;
}

.contentdivs {
	animation-name: coloring;
	animation-duration: 1s;
	background-color: rgb(0, 120, 0);
}

#navbardiv {
	animation-name: coloring;
	animation-duration: 1s;
	background-color: rgb(0, 120, 0);
}

td {
	animation-name: transitioninDarkBody;
	animation-duration: 1s;
	background-color: black;
	color: white;
}

.socials {
	animation-name: sociallogoanimation;
	animation-duration: 5s;
	filter: invert(1);
}